.Rproj.user
.Rhistory
.RData
.Ruserdata

# Rproj file
Invertebrate_traits.Rproj

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# raw data
Data/

# missing data (scripts to identify species with missing traits)
Missing_data/

# Output 
Output/

# Scripts for preprocessing raw data 
# (maybe part of a new repo, mostly in https://github.com/seb1458/TraitPatter)
R/Preprocessing_raw

# Old scripts
R/Old