.Rproj.user
.Rhistory
.RData
.Ruserdata

# Rproj file
Invertebrate_traits.Rproj

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# raw data
Data/

# missing data (scripts to identify species with missing traits)
Missing_data/

# Output 
Output/

# Old scripts
R/Old

# status file
status.txt

# test file for paper
Paper/test*

# figures for paper
Paper/Figures/

# Old drafts and feedback
Paper/Feedback/
Paper/Old_Drafts/


# ToDO List
ToDo/

# doc files
Paper/*.doc